SpeechRecognition==3.10.1
pyttsx3==2.90
openai==0.28.0
pygame==2.5.2
opencv-python==4.8.1.78
pyautogui==0.9.54
wikipedia==1.4.0
IMDbPY==2022.7.9
googletrans==4.0.0rc1
newsapi-python==0.2.7
requests==2.31.0
pyperclip==1.8.2
matplotlib==3.8.0
schedule==1.2.1
threading2==0.3.1
python-dotenv==1.0.0
